@font-face {
    font-family: "Raleway";
    src: url(fonts_files/Raleway-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(fonts_files/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url(fonts_files/Raleway-Bold.ttf);
    font-weight: bold;
}


    