@font-face {
  font-family: "Raleway-Regular";
  src: url(fonts_files/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-Medium";
  src: url(fonts_files/Raleway-Medium.ttf);
}

@font-face {
  font-family: "Raleway-Bold";
  src: url(fonts_files/Raleway-Bold.ttf);
}

