body {
    font-family: "Raleway-Regular";
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__link__list {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.header__main__li {
    list-style: none;
}

.header__main {
    text-decoration: none;
}

.header__watch__li {
    list-style: circle;
}

.header__watch {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;                
}

.header__about__li {
    list-style: circle;
}

.header__about {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;                
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
}

.header__contacts {
    display: flex;
    justify-self: end;
    flex-direction: column;
    font-style: normal;
    max-width: 236.48626708984375px;
    font-size: 18px;
    margin-right: 4px;
}

.header__phone__number {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000;                
}

.header__email {
    width: fit-content;
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
    padding-top: 1px;                
}

.header__location {
    padding-top: 5px;
}

.section__main {
    position: relative;
    width: 100%;
    height: 757px;
}

.section__main__overlay {
    position: absolute;
    inset: 0;
    height: 757px;
}

.section__main__overlay img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.main__overlay__images__bottom {
    left: 0;
    top: 0;
    z-index: 0;
}

.main__overlay__images__top {
    left: 0;
    top: 0;
    z-index: 1;
    height: 757px;
}

.section__main span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: "Raleway-Bold";
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.section__main_it {
    text-align: left;
    padding-left: 50px;
    padding-top: 165px;
}

.section__main_you {
    text-align: center;
    padding-top: 20.5px;
    padding-left: 30px;
}

.section__main_need_it {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px
}

.main__description {
    display: flex;
    text-align: center;
}

.cover__description {
    position: relative;
    z-index: 2;
    color: white;
    padding-top: 120px;
    padding-left: 50px;
    word-spacing: 18.6px;
    font-size: 22px;
}

.container__bet__button {
    position: absolute;
    z-index: 3;
    left: 793px;
    bottom: 50px;
}

.bet__button {
    z-index: 2;
    color: white;
    font-family: "Raleway-Medium";
    border: 1px #FFF solid;
    padding: 12px 32px;
    color: #FFF;
    font-size: 22px;
    background-color: transparent;
}

.lots__name {
    margin-top: 180px;
    margin-left: 64px;
    font-size: 40px;
    font-family: "Raleway-Bold";
}

.lots__list {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 27px;
}

.list__film {
    background-image: 
        url("../images/overlay_one.svg"),
        url("../images/photo_one.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    height: 596px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
}

.lost__list__film__link {
    position: relative;
    font-family: "Raleway-Bold";
    font-size: 22px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 254px;
    height: 82px;
    line-height: 120%;
    margin-top: 48px;
    margin-left: 40px;
}

.lost__list__film__text {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 144px;
    margin-left: 40px;
    margin-bottom: 48px;
}

.list__book {
    background-image: 
        url("../images/overlay_two.svg"),
        url("../images/photo_two.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
}

.lost__list__book__link {
    width: 254px;
    height: 110px;
    font-family: "Raleway-Bold";
    text-transform: uppercase;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-left: 40px;

}

.lost__list__book__text {
    width: 254px;
    height: 360px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 48px;
}

.list__image {
    background-image: 
        url("../images/overlay_three.svg"),
        url("../images/photo_three.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    height: 596px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
}

.lost__list__image__link {
    width: 254px;
    height: 110px;
    font-family: "Raleway-Bold";
    font-size: 22px;
    text-transform: uppercase;
    line-height: 120%;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-left: 40px; 
}

.lost__list__image__text {
    width: 254px;
    height: 264px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 48px;
}

.lost__link__look__more {
    display: inline-block;
    font-size: 20px;
    margin-left: 64px;
    margin-top: 29px;
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000; 
}

.section__about {
    height: 595px;
    margin-top: 120px;
}

.about__text {
    display: flex;
    flex-direction: column;
}

.dark__logo {
    width: 240px;
    height: 240px;
    position: absolute;
    margin-top: 34px;
    margin-left: 71px;
}

.about__name {
    display: flex;
    font-family: "Raleway-Bold";
    font-size: 40px;
    justify-content: flex-end;
    justify-content: center;
    align-items: center; 
    margin-top: 135px;
    margin-right: 45px;
}

.about__paragraf_first {
    align-self: flex-end;
    font-size: 20px;
    width: 668px;
    height: 120px;
    margin-right: 50px;
    margin-top: 100px;
}

.about__paragraf_last {
    align-self: flex-end;
    font-size: 20px;
    width: 693px;
    height: 168px;
    margin-right: 25px;
    margin-top: 23.5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.footer__contacts {
    display: flex;
    justify-self: end;
    flex-direction: column;
    width: 264.573486328125px;
    font-size: 18px;
    margin-left: 50px;
    font-style: normal;
}

.footer__phone__number {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000;
}

.footer__email {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000;
    padding-top: 2px; 
}
.footer__location {
    padding-top: 6px;
}

.footer__logos {
    display: flex;
    gap: 48px;
    margin-right: 50px;
}

.footer__menu{
    font-size: 18px;
    margin-right: 25px;
}

.footer__link__list {
    text-align: center;
}

.footer__main__li {
    list-style: none;
}

.footer__main {
    text-decoration: none;
}

.footer__watch__li {
    list-style: none;
}

.footer__watch {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000; 
}

.footer__about__li {
    list-style: none;
}

.footer__about {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000;   
}

.YouTube {
    width: 48px;
    height: 48px;
}

.VK {
    width: 48px;
    height: 48px;
}

.Pinterest {
    width: 48px;
    height: 48px;
}