body {
    font-family: "Raleway-Regular",  Arial, sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__link__list {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.header__item__selected__active {
    list-style: none;
}

.header__item__selected {
    align-items: center;
    list-style: circle;
}

.header__link__active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
}

 .header__address__block {
    display: flex;
    width: 236.48626708984375px;
    height: 98px;
    margin-left: 185px;
 }

.address__block {
    display: flex;
    justify-self: end;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    gap: 3px;
    line-height: 120%;
}

.address__block__link {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000;
}

.section__main {
    position: relative;
    width: 100%;
    height: 757px;
}

.section__main__overlay {
    position: absolute;
    inset: 0;
    height: 757px;
}

.section__main__overlay img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.main__images {
    left: 0;
    top: 0;
    height: 757px;
}

.main__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.section__main span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: "Raleway-Bold", Arial, sans-serif;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.section__main__word__left {
    text-align: left;
    padding-left: 50px;
    padding-top: 165px;
    text-transform: uppercase;
}

.section__main__word__center {
    text-align: center;
    padding-top: 20.5px;
    padding-left: 30px;
    text-transform: uppercase;
}

.section__main__word__right {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.main__description {
    display: flex;
    text-align: center;
}

.cover__description {
    position: relative;
    z-index: 2;
    color: white;
    padding-top: 120px;
    padding-left: 50px;
    word-spacing: 18.6px;
    font-size: 22px;
    text-transform: uppercase;
}

.container__bet__button {
    position: absolute;
    z-index: 3;
    left: 793px;
    bottom: 50px;
}

.bet__button {
    z-index: 2;
    color: white;
    font-family: "Raleway-Medium", Arial, sans-serif;
    border: 1px #FFF solid;
    padding: 12px 32px;
    color: #FFF;
    font-size: 22px;
    background-color: transparent;
    text-transform: uppercase;
}

.lots__name {
    margin-top: 180px;
    margin-left: 64px;
    font-size: 40px;
    font-family: "Raleway-Bold", Arial, sans-serif;
    text-transform: uppercase;
}

.card__lots__list {
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    margin-top: 27px;
    margin-left: 24px;
    margin-right: 24px;
}

.card__lots {
    display: flex;
    width: 334px;
    height: 596px;
}

.card__link {
    z-index: 2;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.card__name {
    width: 254px;
    font-family: "Raleway-Bold", sans-serif, Arial;
    font-size: 22px;
    text-transform: uppercase;
    z-index: 2;
    margin-left: 40px;
    margin-top: 48px;
}

.card__text {
    width: 254px;
    font-family: "Raleway-Regular", sans-serif, Arial;
    font-size: 20px;
    z-index: 2;
    margin-left: 40px;
    margin-bottom: 48px;
}

.card__film {
    display: flex;
    background-image: url(../images/photo_one.png);
    position: relative;
    height: 100%;
    width: 334px;
    justify-content: space-between;
    flex-direction: column;
    color: #FFF; 
}

.card__book {
    display: flex;
    background-image: url(../images/photo_two.svg);
    position: relative;
    height: 100%;
    width: 334px;
    justify-content: space-between;
    flex-direction: column;
    color: #FFF; 
}

.card__image {
    display: flex;
    background-image: url(../images/photo_three.svg);
    position: relative;
    height: 100%;
    width: 334px;
    justify-content: space-between;
    flex-direction: column;
    color: #FFF; 
}

.card__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card__look__more {
    display: flex;
    font-size: 20px;
    margin-left: 64px;
    margin-top: 30px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
}

.section__about {
    height: 595px;
    margin-top: 120px;
}

.about__text {
    display: flex;
    flex-direction: column;
}

.dark__logo {
    width: 240px;
    height: 240px;
    position: absolute;
    margin-top: 34px;
    margin-left: 71px;
}

.about__name {
    display: flex;
    font-family: "Raleway-Bold", Arial, sans-serif;
    font-size: 40px;
    justify-content: flex-end;
    justify-content: center;
    align-items: center; 
    margin-top: 135px;
    margin-right: 45px;
    text-transform: uppercase;
}

.about__paragraf_first {
    align-self: flex-end;
    font-size: 20px;
    width: 668px;
    height: 120px;
    margin-right: 50px;
    margin-top: 100px;
}

.about__paragraf_last {
    align-self: flex-end;
    font-size: 20px;
    width: 693px;
    height: 168px;
    margin-right: 25px;
    margin-top: 23.5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.footer__address__block {
    margin-left: 50px;
    width: 264.573486328125px;
}

.footer__logos {
    display: flex;
    gap: 48px;
    margin-right: 50px;
}

.footer__menu{
    font-size: 18px;
    margin-right: 25px;
    text-align: center;
    line-height: 120%;
}

.footer__item__selected {
    list-style: none;
}

.footer__images {
    display: flex;
    list-style: none;
    gap: 48px;
}

.YouTube {
    width: 48px;
    height: 48px;
}

.VK {
    width: 48px;
    height: 48px;
}

.Pinterest {
    width: 48px;
    height: 48px;
}