body {
    font-family: "Raleway",  Arial, sans-serif;
    font-weight: normal;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__link__list {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.header__item__selected__active {
    list-style: none;
}

.header__item__selected {
    align-items: center;
    list-style: circle;
}

.header__link__active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
}

 .header__address__block {
    display: flex;
    width: 236.48626708984375px;
    margin-left: 185px;
 }

.address__block {
    display: flex;
    justify-self: end;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    gap: 3px;
    line-height: 120%;
}

.address__block__link {
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid #000;
    color: #000;
}

.section__main {
    position: relative;
    width: 100%;
    min-height: 757px;
    background-image: url(../images/background_section_main.svg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.section__main span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.section__main__word__left {
    text-align: left;
    padding-left: 50px;
    padding-top: 165px;
    text-transform: uppercase;
}

.section__main__word__center {
    text-align: center;
    padding-top: 20.5px;
    padding-left: 30px;
    text-transform: uppercase;
}

.section__main__word__right {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.main__description {
    display: flex;
    text-align: center;
}

.cover__description {
    position: relative;
    z-index: 2;
    color: white;
    word-spacing: 18.6px;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 119px;
    margin-left: 50px;
}

.bet__button {
    z-index: 2;
    color: white;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
    border: 1px #FFF solid;
    font-size: 22px;
    background-color: transparent;
    text-transform: uppercase;
    margin-top: 105px;
    margin-left: 108px;
    min-width: 254px;
    min-height: 51px;
}

.lots__name {
    margin-top: 180px;
    margin-left: 64px;
    font-size: 40px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.card__lots__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    margin-top: 27px;
    margin-left: 24px;
    margin-right: 24px;
}

.card__lots {
    display: flex;
    width: 334px;
    min-height: 596px;
}

.card__link {
    z-index: 2;
    text-decoration: none;
}

.card__name {
    width: 254px;
    font-family: "Raleway", sans-serif, Arial;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    z-index: 2;
    margin-left: 40px;
    margin-top: 48px;
    text-decoration: underline;
}

.card__text {
    width: 254px;
    font-size: 20px;
    z-index: 2;
    margin-left: 40px;
    margin-bottom: 48px;
}

.card {
    display: flex;
    position: relative;
    height: 100%;
    width: 334px;
    justify-content: space-between;
    flex-direction: column;
    color: #FFF; 
}

.card__film {
    background-image: url(../images/photo_one.png);
}

.card__book {
    background-image: url(../images/photo_two.svg);
}

.card__image {
    background-image: url(../images/photo_three.svg);
}

.card__look__more {
    display: flex;
    font-size: 20px;
    margin-left: 64px;
    margin-top: 30px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
}

.section__about {
    margin-top: 120px;
}

.dark__logo {
    position: relative;
    width: 240px;
    height: 240px;
    margin-top: 34px;
    margin-left: 71px;
}

.about__text {
    display: flex;
}

.container {
    flex-direction: column;
}

.about__name {
    display: flex;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 40px;
    justify-content: flex-start;
    margin-top: 135px;
    margin-left: 71px;
    text-transform: uppercase;
}

.text {
    justify-content: space-between;
    display: inline-block;
    flex-direction: column;
    margin-left: 71px;
    margin-top: 80px;
}

.about__paragraf {
    display: inline-block;
    font-size: 20px;
    max-width: 690px;
    padding-top: 21px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 182px;
    height: 180px;
}

.footer__address__block {
    margin-left: 50px;
    width: 264.573486328125px;
}

.footer__link__active {
    text-decoration: none;
}

.footer__logos {
    display: flex;
    gap: 48px;
    margin-right: 50px;
}

.footer__menu{
    font-size: 18px;
    margin-right: 25px;
    text-align: center;
    line-height: 120%;
}

.footer__item__selected {
    list-style: none;
}

.footer__images {
    display: flex;
    list-style: none;
    gap: 48px;
}

.YouTube, .VK, .Pinterest {
    width: 48px;
    height: 48px;
}